@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
} 

/* General body styling */
body {
    font-family: Arial, sans-serif;
    background: url('../static/logo/back2.jpg') no-repeat center center fixed; 
    background-size: cover;
    color: #0a0101;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(135deg, #eee2e2a1, #2b8bc236);
    box-shadow: 0 2px 4px rgba(3, 3, 3, 0.726);
    width: 100%;
    box-sizing: border-box;
}

/* Left section of the header */
.header-left {
    display: flex;
    align-items: center;
}

#companyLogo {
    width: 150px;
    height: auto;
}

h4{
    color: #ffffff;
}

/* User icon in header */
#userIcon {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    border-radius: 50%; /* Makes the icon circular */
    margin-right: 8px; /* Spacing between icon and username */
    vertical-align: middle; /* Aligns icon with text */
}

#userlogo{
    width: 30px;
    height: 27px;
}

/* Right section of the header */
.header-right {
    display: flex;
    align-items: center;
}

/* Dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

#username {
    font-weight: bold;
    padding: 8px 12px;
    font-size: 15px;
    color: #000000; /* White text color for contrast */
    background-color: #ffffff; /* Brand blue background */
    border-radius: 5px; /* Fully rounded corners for a pill-shaped appearance */
    text-transform: uppercase; /* Uppercase text for a bold statement */
    letter-spacing: 1px; /* Slight spacing between letters for a clean look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Stronger shadow for emphasis */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transform on hover */
}

#username:hover {
    transform: translateY(-2px); /* Slight lift on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
    background-color: #b0d1f5; /* Darker blue on hover */
    cursor: pointer; /* Pointer cursor to indicate interactivity */
}

/* Dropdown content styling */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fafafae7;
    min-width: 200px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(10px);
}

.dropdown-content.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-content p {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    margin: 0;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.dropdown-content p:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.dropdown-content .logout-button {
    width: 100%;
    text-align: left;
    padding: 12px 16px;
    background: linear-gradient(135deg, #07270bda, #2b8ac2); /* Gradient background */
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 0 0 8px 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    text-align: center;
}

.dropdown-content .logout-button:hover {
    background-color: #b71c1c69; /* Darker red */
    transform: scale(1.05); /* Slight scale effect */
}

/* Dropdown button styling */
.dropdown-button {
    width: 100%;
    text-align: left;
    padding: 12px 16px;
    background: linear-gradient(135deg, #0056b3, #8dbef1); /* Gradient background */
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.dropdown-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.05); /* Slight scale effect */
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Background blur effect */
.blur-background {
    position: relative;
    filter: blur(5px);
    transition: filter 0.3s ease;
}

/* Loading overlay */
#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: filter 0.3s ease;
}

/* Loading message and GIF container */
#loadingOverlay div {
    text-align: center;
}

#loadingOverlay img {
    width: 90px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

#loadingOverlay p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

/* Main container */
.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    margin-top: 20px;
    gap: 10px;
}

/* Canvas container styling */
#canvasContainer {
    display: grid;
    position: relative;
    border-radius: 5px;
    background: linear-gradient(145deg, #f5f3f3, #ffffff);
    box-shadow: 0 12px 24px #000000, inset 0 2px 4px rgb(255, 255, 255);
    width: 48%;
    height: 85vh;
    max-width: 100%;
    overflow: auto;
}

/* Centered canvas with rounded corners */
canvas {
    display: flex;
    margin: auto;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

/* Right text container styling */
#rightTextContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 85vh;
    border-radius: 5px;
    background: linear-gradient(145deg, #ffffff, #ffffffc9);
    box-shadow: 0 12px 24px rgb(0, 0, 0), inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Extracted text area styling */
#extractedText {
    width: 100%;
    min-height: 100%;
    padding: 20px;
    border-radius: 5px;
    background: linear-gradient(145deg, #ffffff, #ffffff);
    color: #333;
    font-size: 16px;
    font-family: Arial, sans-serif;
    resize: none;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), inset 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}


#browseButtonWrapper {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.choose-file-button {
    background-color: #008bcc9f;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

.choose-file-button:hover {
    background: linear-gradient(145deg, #272727, #cff1cf);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(233, 210, 210, 0.2);
}

/* Style for the side navigation */
/* Styling for the sideNav container */
#sideNav {
    position: fixed;
    right: 1px;
    top: 65px;
    width: 280px;
    height: 85%;
    background-color: #f9f9f967; /* Adjust background color as needed */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0);
    padding: 20px;
    overflow-y: auto;
    z-index: 1; /* Ensure it's above other content */
    transition: width 0.3s ease-in-out;
}

/* Input fields styling */
#sideNav input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #000000;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Input focus effect */
#sideNav input[type="text"]:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
    outline: none;
}

/* Submit button styling */
#sideNav #submitButton {
    width: 95%;
    padding: 10px;
    background-color: #2599db; /* Disabled color */
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: auto; 
    transition: background-color 0.3s ease;
}


/* Prevent the canvas or main content from overlapping with the side nav */
#mainContent {
    margin-right: 260px; /* Leave space for the fixed side nav */
    transition: margin-right 0.3s ease-in-out;
}

.button-group {
    position: sticky; /* Stick to the top */
    top: 0; /* Distance from the top */
    background: rgba(255, 255, 255, 0); /* Background color for visibility */
    z-index: 10; /* Keep it on top of other content */
    padding: 10px; /* Add some padding */
}

/* Button styles */
.button-group button {
    background-color: #007BFF; /* Primary color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-group button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}
.input-fields-container {
    height: calc(100vh - 50px); /* Adjust based on button height */
    overflow-y: auto; /* Allow vertical scrolling */
    padding: 10px; /* Optional padding */
}

.input-fields {
    margin-bottom: 20px; /* Space between fields */
}


/* Input field styles */
.input-fields input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* For smaller screens, make the sideNav responsive */
@media (max-width: 768px) {
    #sideNav {
        width: 100%;
        height: auto;
        position: relative;
        box-shadow: none;
    }

    #mainContent {
        margin-right: 0;
    }
}

/* Popup overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

/* Popup content styling */
.popup-content {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Buttons inside the popup */
.popup-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.popup-button:hover {
    background-color: #45a049;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust spacing as needed */
}

.add-button {
    margin-left: 5px; /* Space between input and button */
    border-radius: 0%;
    background: transparent; /* No background */
    color: #f5f3f3; /* Text color */
    border: none; /* No border */
    padding: 0; /* No padding */
    cursor: pointer; /* Pointer on hover */
    font-size: inherit; /* Inherit font size */
    outline: none; /* Remove outline */
}